body {
  font-family: 'Open Sans', Georgia, Times;
  color: WhiteSmoke;
  line-height: 1.8;
  font-size: 62.5%;
  text-align: center;
}

h2 {
  height: 50px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.8em;
  text-align: center;
  color: WhiteSmoke;
  background: Orange;
  border-radius: 10px;
  padding: 10px;
}

img {
  height: 50px;
  width: 50px;
  float: left;
}

#main {
  background: #404040;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  margin: 0px;
  text-align: center;
  font-size: 1.4em;
  padding: 5px;
}


div {
  -webkit-column-count: 2;
  padding: 5px 15px 5px;
  text-align: left;
}

#options {
  -webkit-column-count: 2;
}

#save{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background: Orange;
  font-size: 1.8em;
  width: 210px;
  color: WhiteSmoke;
}

#save:hover {
  background: #404040;
  color: WhiteSmoke;
  cursor: pointer;
}



